@font-face {
  font-family: 'Fit';
  src: url('/fonts/fit.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Añadimos la configuración global */
:root {
  font-family: 'Fit', sans-serif;
}

.font-fit {
  font-family: 'Fit', sans-serif;
} 